@media(min-width: 700px){
    .tht01{
        background: rgba(255,255,255,0.5);
    }
    
    .tgt{
        background: url('../../../images/leavesbg02.JPG');
        height: auto;
        background-size: cover;
        padding-top: 9%;
        padding: 6%;
    }
    .tht01 p{
        text-align: left !important;
        font-size: 26px;
    }
    .tht01 li{
        text-align: left !important;
        font-size: 26px;
        
    }

    .tht01 h3{
        text-align: left !important;
        margin-top: 4%;

    }
}

@media(max-width: 700px){
    .tht01{
        background: rgba(255,255,255,0.5);
    }
    
    .tgt{
        background: url('../../../images/leavesbg02.JPG');
        height: auto;
        background-size: cover;
        padding-top: 27%;
    }
    .tht01 p{
        text-align: left !important;
        font-size: 26px;
        margin-top: 4%;
    }
    .tht01 li{
        text-align: left !important;
        font-size: 26px;
        margin-top: 4%;
    }

    .tht01 h3{
        text-align: left !important;
        margin-top: 4%;

    }
}