.emailcard{
    display: grid;
}
.form-group{
    margin-bottom: 1% !important;
}


@media(min-width: 700px){
    .tgt{
        background: url('../../../images/leavesbg02.JPG');
        height: 1000px;
        background-size: cover;
        padding-top: 9%;
        padding: 6%;
    }
    .emailcard{
        background:yellow;
        height: auto;
        width: 1041px;
        margin-left: 6%;
        margin-top: 3%;
        grid-template-columns: 1fr 2fr;

    }
    .email{
        background:#964b00;
        padding:6%;
        color: white;
        text-align: left;
        height: 518px;

    }

    .cont p{
        text-align: left;
        padding-left: 61px;
        margin: 0;
        font-size: 19px;
    }

    .cont h2{
        text-align: left;
        padding-left: 59px;
    padding-top: 6%;
    }
    
}

@media(max-width: 700px){
    .tgt{
        background: url('../../../images/leavesbg02.JPG');
        height: 1000px;
        background-size: cover;
        padding-top: 9%;
        padding: 6%;
    }
    .emailcard{
        background:yellow;
        height: 700px;
        margin-top: 25%;
        grid-template-rows: 1fr 2fr;
    }
    .email{
        background:#964b00;
        padding:6%;
        color: white;
        text-align: left;
    }

    .cont p{
        text-align: justify;
        padding-left: 29%;
        margin: 0;
        font-size: 19px;
    }
    
}