@media(min-width:700px){
    .about_quote{
        background: #964b00;
        height: 150px;
        border-radius: 17px;
        color: white;
        padding: 37px;
        margin-top: 3%;
    
    }
    .about_quote h4{
        font-size: 34px;
    }

    .about01{
        margin-top:9%;
    }

    .about01 img{
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
    
    
}

@media(max-width:700px){
    .about_quote{
        background: #964b00;
        height: 150px;
        border-radius: 17px;
        color: white;
        font-size: 30px;
        padding: 5%;
    
    }
    .about_quote h4{
        font-size: 23px;
    }
    
    
    
}