@media(min-width:700px){
    .about02{
        text-align: left;
    }
    .abou{
        
    }

    .about02img img{
        height: 456px;
        width: 446px;
        border-radius: 20px;
    }
    .jrny{
        padding-top: 5%;
        text-align: left;
    }
    .jrny h2{
        text-align: left;
        font-size: 61px;
        padding-bottom: 6%;
    }
}

@media(max-width:700px){
    .jrny{
        text-align: center;
    }
    .about01{
        padding-top: 18px;
    }
    .col-sm h2{
        color: brown;
    }
    .col-sm h4{
        text-align: justify;
    }
    .rounded {
        border-radius: 1.25rem !important;
    }
    
    .img-fluid {
        height: 99% !important;
        border-radius: 20px;
        padding-top: 23%;
    }

}