@media(max-width: 700px){
    .aboutcls{
        background: url('../../images/leavesbg02.JPG');
        background-size: cover;
        height: auto;
        padding: 19px;
    }
    
    .abtcls{
        background: rgba(255,255,255,0.5);
        height: auto;
        width: 100%;
        padding: 10px;
        margin-top: 18%;
    }
    
}

@media(min-width:700px){
    .aboutcls{
        background: url('../../images/leavesbg02.JPG');
        background-size: cover;
        height: auto;
        padding: 51px;
        padding-top: 7%;
    }
    .abtcls{
        background: rgba(255,255,255,0.5);
        height: auto;
        width: 100%;
        padding: 10px;
       
    }
    
}